@import clear

* 
    box-sizing: border-box

body 
    min-width: 850px
    height: 100%
    background: #7d7e7d
    background: -moz-linear-gradient(-45deg, #7d7e7d 0%, #0e0e0e 100%)
    background: -webkit-linear-gradient(-45deg, #7d7e7d 0%,#0e0e0e 100%)
    background: linear-gradient(135deg, #7d7e7d 0%,#0e0e0e 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 )

.monitor
    margin-top: 2%
    margin-left: 2%
    width: 67.5%
    height: 50%

    .display
        width: 100%
        height: 78.75%
        border: 1px solid black
        border-radius: 5px
        padding-top: 56.25%
        position: relative
        background-color: LightSlateGrey

        .screen
            position: absolute
            top: 0
            left: 0
            bottom: 0
            right: 0
            margin: 20px
            background: black

        .switch
            position: absolute
            right: 20px
            bottom: 0
            background: blue
            width: 5%
            height: 10px

    .stand
        height: 21.25%
        width: 27.7%
        display: flex
        flex-direction: column
        align-items: center
        margin: auto

        .stand_1  
            background-color: LightSlateGrey 
            height: 88.235%
            width: 23.3%
            border: 1px solid black
            border-top: none
            border-bottom: none
            padding-top: 50%

        .stand_2
            background-color: LightSlateGrey
            height: 11.765%
            width: 100%
            border: 1px solid black
            border-bottom: none
            padding-top: 10%

.desk
    border-top: 1px solid black