//Style strony z tabelą

.third-container
  display flex
  justify-content center

.third-box
  width 70%
  margin-bottom 100px
  background color-2
  box-shadow shadow
  padding 20px

  table
    tr
      th, td
        color white
        text-align: center;
        background: color-main

      th:nth-child(even), td:nth-child(even):hover
        background: color-4
