body
  min-height: 100vh;
  background: #4CB0FF;

.hidden
  display none

.cake-container
  display flex
  justify-content center
  //margin-top 20%

.cake
  height 256px
  width auto
  user-select (none)
