//  out: ../styles/main.css
//Importowanie kawałków plików

@import 'clear'
@import 'variables'
@import 'navbar'
@import 'home'
@import 'first-page'
@import 'gallery'
@import 'third-page'
@import 'contact'
@import 'footer'

.section
    margin-top -8em
