roboto = 'Roboto', sans-serif
shadow = 2px 2px 3px #333
//COLORS
color-main = #F500FF
color-1 = #7A007F
color-2 = #F84CFF
color-3 = #7C267F
color-4 = #C400CC

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

user-select(n)
  -webkit-user-select n  /* Chrome all / Safari all */
  -moz-user-select n     /* Firefox all */
  -ms-user-select n      /* IE 10+ */
  user-select n
