roboto = 'Roboto', sans-serif
shadow = 2px 2px 3px #333
//COLORS
color-main = #FF2500
color-1 = #FF664C
color-2 = #7F1200
color-3 = #7F3326
color-4 = #CC1E00

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

user-select(n)
  -webkit-user-select n  /* Chrome all / Safari all */
  -moz-user-select n     /* Firefox all */
  -ms-user-select n      /* IE 10+ */
  user-select n
