roboto = 'Roboto', sans-serif
shadow = 2px 2px 3px #333

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

user-select(n)
  -webkit-user-select n  /* Chrome all / Safari all */
  -moz-user-select n     /* Firefox all */
  -ms-user-select n      /* IE 10+ */
  user-select n
