.main
  display flex
  background color-main

  .main-left
    padding 50px
    width 50%

    form
      padding-top 20px

  .main-right
    padding 50px
    width 50%

    form
      p
        padding 10px 0
        margin 10px 0



  .img.active
    height 400px

input
  border none
  border-radius 15px
  padding 5px

button
  border none
  border-radius 10px
  background color-3
  color white
  padding 20px
  cursor pointer
  transition all .3s ease-in-out

  &:hover
    background color-4

select
  border none
  border-radius 15px
  padding 10px
