.main
  display flex
  background color-main

  .main-left
    padding 50px
    width 50%

    form
      padding-top 20px

  .main-right
    padding 50px
    width 50%

    form
      p
        padding 10px 0
        margin 10px 0

  .img.active
    height 400px
